<!-- HTML for watch history page when there are no movies in the watch history -->
<!-- Written by Olivia Yoo and Nalani Dziama -->
<!-- Last updated December 8 2020 -->

{% extends "layout.html" %}

{% block title %}
    Watch History
{% endblock %}

{% block main %}
    <p>Your Watch History is currently empty.</p>
    
    <p>Review a movie on your watchlist to get started!</p>
    
    <!-- Button directs to review page -->
    <form action="/review" method="get">
        <button class="button button1" type="submit">Review</button>
    </form>
    
    <!-- Mr. Miyagi cartoon -->
    <img src="static/miyagi.jpg" alt="Mr. Miyagi" width="198" height="255">
    
{% endblock %}